@import url('https://fonts.googleapis.com/css2?family=Jura:wght@600;700&family=Lato:wght@400;700&display=swap');

:root {
    --color-blue: #594FFB;
    --color-dark: #000;
    --color-light: #fff;
    --font-jura: "Jura", sans-serif;
    --font-lato: "Lato", sans-serif;
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    box-sizing: border-box;
}


a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}
img {
    display: block;
}

button {
    background-color: transparent;
    border: none;
    font-family: inherit;
    cursor: pointer;
}

body {
    font-family: var(--font-lato);
    font-weight: 400;
    font-style: normal;
    background: #0a0a23;
}

.container {
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
    padding: 0 8.3334%;
}

.btn {
    border-radius: 50px;
    font-family: var(--font-jura);
    font-weight: 600;
    font-size: 20px;
    background-color: var(--color-light);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: relative;
}

.btn::after {
    content: '';
    position: absolute;
    inset: 0 0 0 0;
    border: 1px solid #6823FF;
    border-radius: 50px;
    transform: rotate(5deg);
    transition: all .5s ease;
}

.btn:hover::after {
    transform: rotate(0deg);
    box-shadow: 0px 0px 20px 5px var(--color-blue);
}

/* HEADER */
/* HEADER */
/* HEADER */

.header {
    padding: 73px 0 70px;
    background-color: transparent;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    color: var(--color-light);
}

.header__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 90px;
}

.header__controls {
    max-width: 250px;
    width: 100%;
}

.header__btn {
    max-width: 250px;
    padding: 18px 0 19px 0;
}

.logo {
    max-width: 173px;
}

.menu {
    display: flex;
    justify-content: space-between;
    max-width: 1080px;
    gap: 30px;
    width: 100%;
}

.menu__list {
    display: flex;
    align-items: center;
    max-width: 675px;
    width: 100%;
    justify-content: space-between;
    flex-shrink: 0;
}

.menu__item {
}

.menu__link {
}

.lang {
    display: flex;
    flex-direction: column;
    padding: 7px;
    border: 1px solid var(--color-light);
    border-radius: 5px;
    font-size: 14px;
    line-height: 17px;
}



.burger {
}

/* HEADER */
/* HEADER */
/* HEADER */

/* HERO SECTION */
/* HERO SECTION */
/* HERO SECTION */

.hero {
    padding-top: 173px;
    padding-bottom: 133px;
    background-image: url(../images/hero-bg.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.hero__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

.hero__content {
    max-width: 1085px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}

.hero__title {
    font-family: var(--font-jura);
    font-weight: 700;
    max-width: 1015px;
    text-align: center;
    color: var(--color-light);
    font-size: 64px;
    line-height: 76px;
}

.hero__text {
    color: var(--color-light);
    font-size: 22px;
    line-height: 28px;
    max-width: 575px;
    width: 100%;
    font-family: var(--font-lato);
    font-weight: 400;
}

.hero__btn {
    max-width: 318px;
    padding: 25px 0;
}

hr {
    height: 101px;
    width: 1px;
    background-color: var(--color-light);
}

.hero__info {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(50px);
    border-radius: 15px;
    padding: 27px 0px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    max-width: 1428px;
    width: 100%;
    color: var(--color-light);
}

.hero__info-text {
    font-size: 22px;
    line-height: 28px;
    font-weight: 700;
    color: var(--color-light);
}

.hero__info-text span {
    font-weight: 400;
    display: block;
}


/* HERO SECTION */
/* HERO SECTION */
/* HERO SECTION */